{% extends '::base.html.twig' %}

{% block content -%}
  <div id="page" class="row">
    <div class="col-md-8 col-md-offset-2">
      {#{{ include('FTFrontBundle:Exercise:form.html.twig', { 'form': form }) }}#}
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  {% javascripts
  '@FTFrontBundle/Resources/public/js/app/app.js'
  '@FTFrontBundle/Resources/public/js/app/views/ExerciseFormView.js' %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script type="text/javascript">
    $(function() {
      new FTApp.Views.ExerciseFormView({
        el: $('#page')
      });
    });
  </script>
{% endblock javascripts %}
