{% extends '::base.html.twig' %}

{% block body -%}
  {{ form(edit_form, { 'attr': { 'novalidate': 'novalidate' } }) }}

  <a href="{{ path('exercises') }}">{{ 'exercise.list'|trans }}</a>
{% endblock %}
