{% extends '::base.html.twig' %}

{% block content -%}
  <div class="row">
    <div class="col-md-12">
      <h3>{{ 'exercise.index.caption'|trans }}</h3>
      {{ include('FTFrontBundle:Exercise:list.html.twig', { 'exercises': exercises }) }}

      {% if exercises|length > 0 and paginator.totalPages > 1 %}
        {{ include('FTFrontBundle:Common:pagination.html.twig', { 'paginator': paginator }) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
